#app
  width 1024px
  height 768px
  margin auto
#top
  width 1000px
  height 65px
  margin auto
#left
  width 215px
  height (768px - 65px - 20px )
  float left
  margin-left 12px
  font-family "標楷體"
#right
  width 770px
  height (768px - 65px - 20px )
  float right
  margin-right 12px
  text-align center
#menu
  height 654px
  text-align center
#club
  font-size 24px
  font-weight bolder
  color #f0f
  text-decoration underline
  margin 0px
.item
  width 200px
  height 35px
  color #000000
  font-size 16px
  margin-top 2px
  line-height 35px
  background url(../public/images/menu1.png)
.item:hover
  background url(../public/images/menu2.png)
  cursor pointer
#mar
  color #0000ff
  font-family "標楷體"
  font-size 24px
  height 29px
#main
  height 654px
  background url(../public/images/0101.jpg)
  text-align center
  font-size 24px
  color #00f
  font-family "標楷體"
  font-style italic
  font-weight bold
#footer
  font-family "標楷體"
  font-size 16px
  width 100%
  height 20px
  clear both
  text-align center
